.mainContainer {
    background: #eee;
    position: relative;
    margin-top: 45px;
  }
  .content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    left: 250px;
  }
  
  
  @media (max-width: 767px) {
    .content {
      position: relative;
      left: 0px;
    }

  }
  